---
layout: default
---

<div class="row m-0" id="blog-posts-container">
    <div class="col-lg-8 offset-md-1">
        <ul>
            <div class="row m-0">
                {% for project in site.projects %}
                <div class="card blog-post wrap">
                    <a href="{{ project.url | prepend: site.baseurl }}"></a>
                    <img class="card-img-top"
                        src="{{site.url}}{{site.baseurl}}/{{project.thumbnail}}"
                        alt="{{ project.title }}">
                    <div class="card-body center">
                        <h4 class="card-title">{{ project.title }}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">{{ project.year }}</h6>
                        <p class="card-text">{{ project.description }} </p>
                    </div>
                </div>
                {% endfor %}


            </div>
        </ul>

    </div>
</div>